{% extends 'base_app2.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="table-container">
<table class="table  table-light text-center">
  <thead>
    <th>Resgistro actas</th>
    <tr>
      <th>N° Acta</th>
      <th>Fecha</th>
      <th>Tipo de reunión</th>
      <th>Proceso/Dependencia</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for confirmacion in Confirmation_user %}
      <tr>
        <td>{{ confirmacion.act_id.ident }}</td>
        <td>{{ confirmacion.act_id.pub_date }}</td>
        <td>{{ confirmacion.act_id.type_meet.name }}</td>
        <td>{{ confirmacion.act_id.process_text.name }}</td>
        <td><a href="{% url 'resumen2' confirmacion.act_id.id %}" class="btn btn-primary">Resumen</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No se encontraron actas.</td>
      </tr>
    {% endfor %}
    </main>
  </tbody>
</table>
</div>


{% endblock %}