{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container-fluid">
            <form method="post">
                {% csrf_token %}

                <div class="container-fluid">
                    <input type="hidden" name="act_id" value="{{ form.act_id.value }}">
                    <div  class="mb-3 row">
                      
                      <label class="col-sm-2 col-form-label">Titulo</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" name="tittle" id="tittle" rows="1"  required>{{ form.tittle.value }}</textarea>
                      </div>
                    </div> 
        
                    <div  class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Decripción</label>
                      <div class="col-sm-10">
                        
                        <textarea class="form-control" name="description" id="description" rows="3" required>{{ form.description.value }}</textarea>
                      </div>
                    </div>
        
                    <div  class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Discusión</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" name="discussion" id="discussion" rows="3" >{{ form.discussion.value }}</textarea>
                      </div>
                    </div>
        
                    <div  class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Resultado</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" name="result" id="result" rows="3" >{{ form.result.value }}</textarea>
                      </div>
                    </div>
        
                    <div  class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Responsable</label>
                      <div class="col-sm-10">
                        <select name="user_id" id="user_id" class="form-control" required>
                          {% for choice in form.user_id.field.choices %}
                          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                          {% endfor %}
                      </select>
                      </div>
                    </div>
        
                    <div class="mb-3 ">
                      <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary">Actualizar</button>
                      </div>
                    </div>
                  </div>
            </form>
        </main>

    
</div>
</main>
{% endblock %}
