{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-flex p-2">
            <form method="post">
                {% csrf_token %}
                    <div class="container-fluid">
                        <input type="hidden" name="act_id" value="{{ form.act_id.value }}">
                      <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Asistente</label>
                        <div class="col-sm-10">
                            <select name="user_id" id="user_id" class="form-control" required>
                                <option value={{ form.user_id }}></option> 
                            </select>
                        </div>
                      </div>
          
            
                      <div  class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Cargo</label>
                        <div class="col-sm-10">
                            <select name="job_position" id="job_position" class="form-control" required>
                                <option value={{ form.job_position }}></option> 
                            </select>
                        </div>
                      </div> 
          
                      <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Proceso</label>
                        <div class="col-sm-10">
                            <div>
                                <select name="process" id="process" class="form-control" required>
                                    <option value={{ form.process }}></option> 
                                </select>
                                
                            </div>
                        </div>
                      </div>
                      
                      <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Asiste</label>
                        <div class="col-sm-10">
                            {{ form.asset }}
                        </div>
                      </div>
                      <div class="mb-3 ">
                        <div class="col-auto mx-auto">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
                        </div>
                      </div>
                     
                    </div>
            </form>

        </div>
    </div>
</div>
</main>
{% endblock %}
