{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-flex p-2">
            <form method="post">
                {% csrf_token %}
                <table class="table text-center">
                    <tr> 
                        <th colspan="4">
                            <h1 class="text-center">Sistema de control y registro de actas de reuniones</h1>
                            <h2 class="text-center">Escuela Interamericana de Bibliotecología</h2>
                        </th>
                    </tr> 
                    <tr> 
                        <td>
                            <div>
                            {{ form.act_id}}
                            </div>   
                        </td>
                        <td>
                            <label>Nombre</label>
                            <div>
                                {{ form.user_id }}
                            </div>
                        </td>
                        <td>
                            <label>Cargo</label>
                            <div>
                                {{ form.job_position }}
                            </div>
                        </td>
                        <td>
                            <label>Proceso</label>
                            <div>
                                {{ form.process }}
                            </div>
                        </td>
                        <td>
                            <label>Asistio</label>
                            <div>
                                {{ form.asset }}
                            </div>
                        </td>
                    </tr> 
                    
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar cambios</button>
                </div>
            </form>

        </div>
    </div>
</div>
</main>
{% endblock %}
