<!-- eliminar_tipo_reunion.html -->
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar tipo de reunión</title>
</head>
<body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <p  style="font-weight: bold;">¿Estás seguro de que deseas eliminar el tipo de reunión "{{ typemeet.name }}"?</p>
    <form method="post" action="{% url 'eliminar_tipo_reunion' typemeet.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm" >Eliminar</button>
        <a href="{% url 'RegisterTypemeet' %}">Cancelar</a>
    </form>
</main>
</body>
</html>
{% endblock %}