<!-- eliminar_tipo_reunion.html -->
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar tipo de reunión</title>
</head>
<body>
    <h1>Eliminar tipo de reunión</h1>
    <p>¿Estás seguro de que deseas eliminar el tipo de reunión "{{ confirmation.user_id }}"?</p>
    <form method="post" action="{% url 'eliminar_RegistroUsuariosConfirmacion' confirmation.id act_id act_proceso act_ident%}">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
        <a href="{% url 'RegistroUserconfirmation' %}">Cancelar</a>
    </form>
</body>
</html>
{% endblock %}