{% extends 'base.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container mt-5">
  <div class="text-center">
    <label style="font-size: 24px;">Filtrar acta</label>
    <form method="post">
      {% csrf_token %}
      <div  class="mb-3 row">
        <label class="col-sm-1 col-form-label">N° Acta</label>
        <div class="col-sm-3">
            <input type="text" name="ident" id="ident" class="form-control">
        </div>
        <label class="col-sm-1 col-form-label">Tipo de reunión</label>
        <div class="col-sm-3">
            <select name="type_meet" id="type_meet" class="form-control">
                <option value="">-- Seleccionar Tipo --</option>
                {% for typemeet in typemeets %}
                  <option value="{{ typemeet.pk }}">{{ typemeet.name }}</option>
                {% endfor %}
              </select>
        </div>
        <label class="col-sm-1 col-form-label">Fecha</label>
        <div class="col-sm-3">
            <input type="date" name="date" class="form-control" id="date">
        </div>
        <div>
          <button type="submit" class="btn btn-outline-primary">Filtrar</button>
        </div>
    </div>
      
    </form>

    <label style="font-size: 24px;">Actas filtradas</label>

    <table class="table table-light text-center">
      <thead>
        <tr>
          <th>N° Acta</th>
          <th>Fecha</th>
          <th>Tipo de reunión</th>
          <th>Proceso/Dependencia</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for act in acts %}
          <tr>
            <td>{{ act.ident }}</td>
            <td>{{ act.pub_date }}</td>
            <td>{{ act.type_meet.name }}</td>
            <td>{{ act.process_text.name }}</td>
            <td><a href="{% url 'edit_act' act.pk %}">Editar</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No se encontraron actas.</td>
          </tr>
        {% endfor %}
        
      </tbody>
      
    </table>
  </div>
</div>
</main>
{% endblock %}
