
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div>
              <label>Acta N°{{ act_ident }} </label> 
              </div>
              <div>
              <label>Proceso/Dependecia {{ proceso.name }}</label>
              </div>
              <div>
              <label>Tipo de reunion{{ proceso.name }}</label>
              </div>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Nueva acta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'RegistroUserconfirmation' act_id act_proceso act_ident%}">Asistentes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'RegistroDevelop' act_id act_proceso act_ident%}" class="btn btn-primary">Desarrollos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'RegistroCommintment' act_id act_proceso act_ident%}" class="btn btn-primary">Compromisos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'resumen' act_id %}">Resumen</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
                <form method="post" id="myForm">
                    {% csrf_token %}
                    <div class="container-fluid">
                      <input type="hidden" name="act_id" value="{{ act_id }}">
                      <div  class="mb-3 row">
                        <input type="hidden" name="act_id" value="{{ act_id }}"> 
                        <label class="col-sm-2 col-form-label">Compromiso</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" name="commitment" id="commitment" rows="4"  required></textarea>
                        </div>
                      </div> 

                      <div  class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-10">
                          <input type="date" name="date" id="date"  rows="1" required>
                        </div>
                      </div> 

                      <div  class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-10">
                          <select name="control" id="control" class="form-control" required>
                            <option value="">Seleccione una opción</option>
                            {% for choice in form.control.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                            </select>
                        </div>
                      </div> 
                      
                        <div  class="mb-3 row">
                          <label class="col-sm-2 col-form-label">Observaciones</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" name="observations" id="observations" rows="4"  required></textarea>
                          </div>
                        </div> 

                        <div  class="mb-3 row">
                          <label class="col-sm-2 col-form-label">Responsable</label>
                          <div class="col-sm-10">
                            <select name="user_id" id="user_id" class="form-control" required>
                              <option value="">Seleccione una opción</option>
                              {% for choice in form.user_id.field.choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                              {% endfor %}
                          </select>
                          </div>
                        </div> 

                        <div class="mb-3 ">
                          <div class="col-auto mx-auto">
                            <button type="submit" class="btn btn-outline-primary">Registrar compromiso</button>
                          </div>
                        </div>

                      <table class="table table-light text-center">
                        <thead>
                          <tr>
                            <th>Compromiso</th>
                            <th>Fecha</th>
                            <th>Observaciones</th>
                            <th>Control</th>
                            <th>Responsable</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user in compromiso %}
                            <tr>
                              <td>{{ user.commitment }}</td>
                              <td>{{ user.date }}</td>
                              <td>{{ user.observations }}</td>
                              <td>{{ user.control.name }}</td>
                              <td>{{ user.user_id.name }}</td>
                              <td>
                                <a href="{% url 'EditarRegistroCompromiso' user.id act_id act_proceso act_ident%}" class="btn btn-danger btn-sm">Editar</a>
                                <a href="{% url 'eliminar_Compromiso' user.id act_id act_proceso act_ident%}" class="btn btn-danger btn-sm delete-typemeet" data-typemeet-id="{{ user.id }}">Eliminar</a>
                              </td>
                            </tr>
                          {% empty %}
                            <tr>
                              <td colspan="5">No se encontraron compromisos</td>
                            </tr>
                          {% endfor %}
                        </tbody> 
                      </table>
                </form>
              </main>

    {% endblock %}
    
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>