
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div>
              <label>Acta N°{{ act_ident }} </label> 
              </div>
              <div>
              <label>Proceso/Dependecia: {{ proceso.name }}</label>
              </div>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Nueva acta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'RegistroUserconfirmation' act_id act_proceso act_ident%}">Asistentes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'RegistroDevelop' act_id act_proceso act_ident%}" class="btn btn-primary">Desarrollos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'RegistroCommintment' act_id act_proceso act_ident%}" class="btn btn-primary">Compromisos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'resumen' act_id %}">Resumen</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>


        <form method="post" id="myForm">
            {% csrf_token %}
          <div class="container-fluid">
            <div  class="mb-3 row">
              <input type="hidden" name="act_id" value="{{ act_id }}"> 
              <label class="col-sm-2 col-form-label">Título</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="tittle" id="tittle" rows="1"  required></textarea>
              </div>
            </div> 

            <div  class="mb-3 row">
              <label class="col-sm-2 col-form-label">Decripción</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" id="description" rows="3"  required></textarea>
              </div>
            </div>

            <div  class="mb-3 row">
              <label class="col-sm-2 col-form-label">Discusión</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="discussion" id="discussion" rows="3" ></textarea>
              </div>
            </div>

            <div  class="mb-3 row">
              <label class="col-sm-2 col-form-label">Resultado</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="result" id="result" rows="3" ></textarea>
              </div>
            </div>

            <div  class="mb-3 row">
              <label class="col-sm-2 col-form-label">Responsable</label>
              <div class="col-sm-10">
                <select name="user_id" id="user_id" class="form-control" required>
                  <option value="">Seleccione una opción</option>
                  {% for choice in form.user_id.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endfor %}
              </select>
              </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-primary">Registrar desarrollo</button>
              </div>
            </div>
          </div>

        <div class="container-fluid">
          <table class="table table-light text-center">
            <thead>
              <tr>
                <th>Numero</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Discusión</th>
                <th>Resultado</th>
                <th>Responsable</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for user in desarrollo %}
                <tr>
                  <td>{{ user.num }}</td>
                  <td>{{ user.tittle }}</td>
                  <td>{{ user.description }}</td>
                  <td>
                    {% if user.discussion == None %}
                            
                    {% elif user.discussion == ' '%}
                            
                    {% else %}
                        {{ user.discussion }}
                    {% endif %}
                  </td>
                  <td>
                    {% if user.result == None %}
                            
                    {% elif user.result == ' '%}
                            
                    {% else %}
                    {{ user.result }}
                    {% endif %}
                  </td>
                  <td>{{ user.user_id.name }}</td>
                  <td>
                    <a href="{% url 'EditarRegistroDesarrollo' user.id act_id act_proceso act_ident%}" class="btn btn-danger btn-sm">Editar</a>
                  </td>
                  <td>
                    <a href="{% url 'eliminar_Desarrollo' user.id act_id act_proceso act_ident%}" class="btn btn-danger btn-sm delete-typemeet" data-typemeet-id="{{ user.id }}">Eliminar</a>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5">No se encontraron desarrollos</td>
                </tr>
              {% endfor %}
            </tbody> 
          </table>
        </div>
        </form>
      </main>

{% endblock %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>