{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-flex p-2">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination-list">
                                <li class="page-item mr-2"><a class="page-link" data-page="Registro">Acta</a></li>
                                <li class="page-item mr-2"><a class="page-link" data-page="Asistentes">Asistentes</a></li>
                                <li class="page-item mr-2"><a class="page-link" data-page="Desarrollo">Desarrollo</a></li>
                                <li class="page-item mr-2"><a class="page-link" data-page="Compromisos">Compromisos</a></li>
                            </ul>
                        </nav>
                        {% block formulario %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Obtén el nombre de la página actual
        var currentPage = "{{ block.super }}"; // Esto obtendrá el contenido del bloque formulario de la plantilla actual
        
        // Encuentra el enlace correspondiente a la página actual y añade la clase 'active'
        $('#pagination-list a[data-page="' + currentPage + '"]').parent().addClass('active');
    });
</script>
{% endblock %}
