{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu sitio</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
        {% block content %}
        <div class="container">
            <h1 class="text-center">Sistema de control y registro de actas de reuniones</h1>
            <h2 class="text-center">Escuela Interamericana de Bibliotecología</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Navbar lateral -->
                <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" >
                    <div class="position-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'Registro' %}">
                                    Nueva acta
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'filter_acts' %}">
                                    Filtrar acta
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'RegisterAssistant' %}">
                                    Registrar asistente
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'RegisterProcess' %}">
                                    Registrar proceso
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'RegisterTypemeet' %}">
                                    Registrar tipo de reunion 
                                </a>
                            </li>
                            <!-- Agrega más opciones de navegación aquí -->
                        </ul>
                    </div>
                </nav>
    
                <!-- Contenido principal -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <!-- Contenido de la página -->
                </main>
            </div>
        </div>
        {% endblock %}
    <!-- Agrega el enlace al archivo JS de Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

