{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}
<!-- Incluir los archivos CSS y JS del selector de fecha y hora -->
<link rel="stylesheet" href="ruta/al/css/bootstrap-datetimepicker.css">
<script src="ruta/al/js/bootstrap-datetimepicker.js"></script>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
      <div class="text-center">
       
          <form method="post" >
              {% csrf_token %}
               
                  <div  class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Nombre del proceso</label>
                    <div class="col-sm-3">
                      <textarea class="form-control" name="name" id="nem" rows="2" ></textarea>
                    </div>
                    <label class="col-sm-1 col-form-label">Codigo</label>
                    <div class="col-sm-4">
                      <textarea class="form-control" name="cod" id="cod" rows="2" ></textarea>
                    </div>
                </div>

                <div  class="mb-3 row">
              
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">Crear Proceso</button>
                </div>
              </div>
             </td>
             <table class="table table-light text-center">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in processs %}
                    <tr>
                      <td>{{ data.name }}</td>
                      <td>{{ data.cod }}</td>
                      <td>
                        <a href="{% url 'EditarProceso' data.id %}" class="btn btn-danger btn-sm">Editar</a>
                        <a href="{% url 'eliminar_proceso' data.id %}" class="btn btn-danger btn-sm delete-typemeet" data-typemeet-id="{{ data.id }}">Eliminar</a>

                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5">No se encontraron actas.</td>
                    </tr>
                  {% endfor %}
                  
                </tbody>
                
              </table>
            </main>
          </form>
      </div>
  </div>
</div>

{% endblock %}
