{% block formulario %}

{% load crispy_forms_tags %}
<!-- Incluir los archivos CSS y JS del selector de fecha y hora -->
<link rel="stylesheet" href="ruta/al/css/bootstrap-datetimepicker.css">
<script src="ruta/al/js/bootstrap-datetimepicker.js"></script>

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="d-flex p-2">
          <form method="post">
              {% csrf_token %}
              <table class="table text-center">
                  <tr> 
                      <td colspan="3" class="grande">UNIVERSIDAD DE ANTIOQUIA</td>
                  </tr> 
                  <tr> 
                      <td >
                          <label for="{{ form.name.id_for_label }}">Nombre</label>
                          <div>
                              {{ form.name}}
                          </div>
                      </td>
                      <td>
                          <label for="{{ form.mail.id_for_label }}">correo</label>
                          {{ form.mail }}
                      </td>
                  </tr> 
                  <tr> 
                    <td>
                        <label for="{{ form.job_position.id_for_label }}">Cargo</label>
                        <div>
                            {{ form.job_position }}
                        </div>
                    </td>
                </tr> 
                  <tr> 
                      <td>
                          <label for="{{ form.num_id.id_for_label }}">ID</label>
                          <div>
                              {{ form.num_id }}
                          </div>
                      </td>
                      <td>
                          <label for="{{ form.process.id_for_label }}">Proceso</label>
                          {{ form.process }}
                      </td>
                  </tr>  
              </table>
              <td colspan="3">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
                </div>
             </td>
          </form>
      </div>
  </div>
</div>
{% endblock %}